* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.button-link {
    background: transparent;
    border: none;

    transition: transform 1s;
}
.button-link:hover {
    transform: scale(1.25);
    opacity: 0.5;
}
/*
a:hover {
    transform: scale(1.5);
    filter: brightness(0.5);
    opacity: 0.5;
}
*/


:root {
    --primary-color: #1F88C5;
    --secondary-color: #79BDE7;
    --text-header-color: #000000;
    --text-body-color: #333333;
    --background-color-main: #FFFFFF;
    --background-color-secondary: #F8F8F8;

    font-size: 1.5vh;
}

@media screen and (max-width: 300px) {
    :root {
        font-size: 5px!important;
    }
}