:root {
    --primary-color: #1F88C5;
    --secondary-color: #79BDE7;
    --text-header-color: #000000;
    --text-body-color: #333333;
    --background-color-main: #FFFFFF;
    --background-color-secondary: #F8F8F8;

    font-size: clamp(0.8rem, 1vw, 1.5rem);
}

@media screen and (max-width: 980px) {
    caption {
        font-size: 1.5rem!important;
    }
    th {
        font-size: 1.2rem!important;
    }
}
@font-face {
    font-family: atkinson-hyperlegible;
    src: url(../font/atkinson-hyperlegible/Atkinson-Hyperlegible-Regular-102.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: atkinson-hyperlegible;
    font-size: clamp(0.8rem, 1vw, 1.5rem);
}

a {
    color: white;
}
a.black {
    color:black;
}

label {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    align-self: center;
    margin: 0 auto 0 auto;
}

h2 {
    font-size: 1.5rem;

}
h3 {
    font-size: 1.2rem;
}

label.error {
    color: red;
    background-color: var(--secondary-color);
    text-align: center;
    font-weight: bold;
}
label.error[shown="true"] {
    display: inline-block;
}
label.error[shown="false"] {
    display: none;
}

.label-with-input-horizontal {
    display:flex;
    gap: 8px;
}

.button-link {
    background: transparent;
    border: none;

    transition: transform 1s;
}
.button-link:hover {
    transform: scale(1.25);
    opacity: 0.5;
}



