dialog {
    position: absolute;
    margin-inline: auto;
    left: 0;
    right: 0;
    top: 100px;
    background-color: cornflowerblue;
    color: white;
    border: None;
    padding: 16px;
    border-radius: 12px;
    box-shadow: rgb(0, 0, 64) 8px 16px 16px 0, inset 4px 8px 8px 0 rgba(255, 255, 255, 0.60);
}

dialog h3 {
    box-shadow: 0 2px 0 0 black;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

dialog label {
    text-align: center;
    font-size: 1.2rem;
}

dialog button {
    width: 100%;

    border: none;
    border-radius: 8px;
    padding: 8px;
    color:white;
    box-shadow: 1px 2px 2px 0 black, inset 1px 2px 2px 0 white;

    transition: filter 0.5s, transform 0.5s, box-shadow 0.5s;
}
dialog button:hover {
    filter: brightness(85%);
    transform: scale(0.99);
    box-shadow: inset 1px 2px 2px 0 black, 1px 2px 2px 0 white;
}

dialog button.submit {
    background-color: var(--secondary-color);
}
dialog button.cancel {
    background-color: orangered;
}

dialog input, select {
    padding: 4px;
    border: none;
    border-radius: 2px;
    text-align: center;

    box-shadow: inset 1px 2px 2px 0 black;
}
dialog input:hover, select:hover {
    background-color: var(--secondary-color);
}

.dialog-main-container {
    display: flex;
    min-width: 25vw;
    flex-direction: column;
    gap: 16px;
}


.dialog-notification[open="true"] {
    display: flex;
    flex-direction: column;
    background-color: royalblue;
    gap: 16px;
}
.dialog-notification[open="false"] {
    display: none;
}

.dialog-input {
    margin-left: auto;
    width: 160px;
}

.dialog-button-row {
    margin-top: 8px;
    display: flex;
    gap: 8px;
    justify-content: space-around;
}