* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --flex-bar-padding: 16px;
}

:root, body {
    height: 100%;
}

.top-nav {
    display: flex;
    background-color: aqua;
    padding: var(--flex-bar-padding)
}

.top-nav .left {
    margin: auto auto auto 0;
}

.top-nav .right {
    margin: auto 0 auto auto;
}

.container-inventory-form {
    display: flex;
    padding: var(--flex-bar-padding)
}

.container-inventory-form .right {
    margin: auto 0 auto auto;
}



.container-inventory-table {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;

    border-radius: 32px;
    border-width: 4px;
    border-color: blue;
    border-style: solid;
}

th, td {
    padding: 4px;

    border-width: 2px;
    border-color: black;
    border-style: solid;
} 

th {
    background-color: lightgrey;
    border-width: 2px;

}