:root {
    --flex-bar-padding: 24px;
    --bar-gap: 16px;
}

:root, body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}


.top-nav {
    display: flex;
    background-color: var(--secondary-color);
    padding: var(--flex-bar-padding);
    font-size: 1.5rem;
}

.top-nav .left {
    margin: auto auto auto 0;
}

.top-nav .right {
    margin: auto 0 auto auto;
}

.section-content {
    flex: 1;
    display: flex;
    overflow: auto;
}

.container-inventory-form {
    display: flex;
    gap: var(--bar-gap);
}

.container-inventory-form .right {
    margin: auto 0 auto auto;
}

.container-content {
    width: 100%;

    display: flex;
    flex-direction: column;
    padding: 8px var(--flex-bar-padding) 0 var(--flex-bar-padding);
    gap: 8px;
}

.container-inventory-table {
    display: flex;
    overflow: auto;
    scrollbar-color: var(--primary-color) var(--secondary-color);
    border: solid;
    margin-bottom: 16px;
    box-shadow: inset 0 0 10px black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table-inventory-caption {
    background-color: var(--primary-color);
    font-weight: bolder;
    padding: 12px;
    font-size: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

th {
    background-color: var(--secondary-color);
    padding: 12px;
    font-size: 1.5rem;
    box-shadow:  rgba(0, 0, 0, 0.25) 0 5px 3px 0;
}
.table-head-buttons {
    width: 0;
}

tr {
    text-align: center;
    box-shadow: 0 1px 3px 0 var(--primary-color);
}

tr:hover {
    background-color: lightskyblue;
}

td {
    font-size: 1rem;
    padding: 4px 0 4px 0;
}
td.btn-cell > .container-table-buttons {
    display: flex;
    justify-content: space-evenly;
    min-inline-size: 80px;
}


dialog {
    position: absolute;
    margin-inline: auto;
    left: 0;
    right: 0;
    top:100px;
    background-color: lightgray;
    border: None;
    padding: 16px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-equipment-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.add-equipment-form-header {
    align-self: center;
}

.lbl-with-input-horizontal {
    display:flex;
}

.dialog-input {
    margin-left: auto;
    width: 160px;
}

.container-add-equipment-form-btn {
    display: flex;
    justify-content: space-around;
}

.img-btn {
    background: transparent;
    border: none;

    transform: scale(1.0);
    transition: transform 0.5s ease-in;

}
.img-btn:hover {
    transform: scale(1.25);
    opacity: 0.5;
}


