@import url(common.css);
@import url(dialog.css);

@media screen and (max-width: 300px) {
  :root {
    font-size: 5px!important;
  }
  .container-login-card {
    max-inline-size: 90vh!important;
  }
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    height: 8%;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    font-size: 2rem;

    box-shadow: 0 2px 2px 0 black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
}

label {
    color: white;
    font-size: 1.2rem;
}

label.error {
    color: red;
    font-size: 1.4rem;
    background-color: black;
}

label.login-header {
    font-size: 2.5rem;
    align-self: center;
}

.container-login-card {
    min-inline-size: 50vw;
    max-inline-size: 80vw;
    min-block-size: 60%;
    padding: 24px 24px 48px;

    display: flex;
    flex-direction: column;
    background-color: lightslategray;
    box-shadow: rgb(0, 0, 64) 8px 16px 16px 0, inset 4px 8px 8px 0 rgba(255, 255, 255, 0.60);
    border-radius: 16px;

    gap:32px;
}

.login-card-top {
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    font-size: 4rem;
}

img.logo {
    max-height: 12vh;
}

.login-card-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    font-size: 2rem;
}
.login-card-input > input {
    min-height: 4vh;
    border-radius: 2px;
    border: none;
    padding-inline: 8px;
    text-align: center;
    font-size: 2rem;
    box-shadow: inset 1px 2px 2px 0 black;
}
.login-card-input > input:hover {
    background-color: var(--secondary-color);
}

.login-password-reset {
    background: none;
    border: none;
    margin-left: auto;
}

.login-submit {
    background-color: var(--secondary-color);
    border-radius: 32px;
    padding: 16px;
    color: white;
    border: none;
    margin-top: auto;
    font-size: 2rem;
    box-shadow: 1px 2px 2px 0 black, inset 1px 2px 2px 0 white;

    transition: filter 0.5s, transform 0.5s, box-shadow 0.5s;
}

.login-password-reset:hover {
    opacity: 0.5;
}

button:hover {
    filter: brightness(85%);
    transform: scale(0.99);
    box-shadow: inset 1px 2px 2px 0 black, 1px 2px 2px 0 white;
    cursor: pointer;
}