

@media screen and (max-width: 300px) {
  :root {
    font-size: 5px!important;
  }
  .container-login-card {
    max-inline-size: 90vh!important;
  }
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    height: 8%;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    font-size: 2rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
}

.container-login-card {
    min-inline-size: 50vw;
    max-inline-size: 80vw;
    min-block-size: 60%;
    padding: 24px 24px 48px;

    display: flex;
    flex-direction: column;
    background-color: var(--background-color-secondary);
    border-radius: 16px;

    gap:32px;
}

.login-card-top {
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    font-size: 4rem;
}

img.logo {
    max-height: 12vh;
}

.login-card-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    font-size: 2rem;
}
.login-card-input > input {
    min-height: 4vh;
    border-radius: 8px;
    padding-inline-start: 8px;
    text-align: center;
    font-size: 2rem;
}

.login-password-reset {
    background: none;
    border: none;
    margin-left: auto;
}

.login-submit {
    background-color: var(--secondary-color);
    border-radius: 32px;
    padding: 16px;
    color: var(--text-body-color);
    border: none;
    margin-top: auto;
    font-size: 2rem;
}

.login-password-reset:hover {
    opacity: 0.5;
}

button:hover {
    filter: brightness(75%);
    cursor: pointer;
}