#nav-sidebar {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    background-color: var(--primary-color);

    z-index: 1;
}

#nav-sidebar[open="true"] {
    min-width: 12%;
    width: 12%; /*needs both for animation*/
    transition: width 1s, min-width 1s;
}

#nav-sidebar[open="false"] {
    min-width: 0;
    width: 0;

    transition: width 1s;
}

.menu-title {
    text-align: center;
    box-shadow: black 0 2px 0 0;
    padding: 16px;
}

.menu-items {
    display: flex;
    flex-direction: column;

    padding: 16px;

    gap: 24px;
}

.menu-logout {
    box-shadow: black 0 -2px 0 0;
    margin-top: auto;
    padding: 16px;
}