<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link th:href="@{/css/main.css}" type="text/css" rel="stylesheet">

<body style="max-height:100vh;max-width:100vw; background-color: black; color:green">
    <div style="display:flex;flex-direction: column;text-align:center">
        <h1>Unbekannter Fehler!</h1>
        <div style="display:flex;justify-content: center">
            <img style="height:100%;" th:src="@{/images/MyTechSupportSkills.gif}">
        </div>


        <label>Vielleicht sollte man die Schulinventarsoftware  nicht von Schülern schreiben lassen</label>
    </div>






</body>

</html>