<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:fragment="header">
    <nav class="top-nav">
        <div class="left">
            <button onclick="toggleMenu()" class="img-btn"><img th:src="@{/icons/menu.svg}" title="Menu" alt="menu"></button>
        </div>

        <h2 class="mid">Inventarübersicht</h2>
        <div class="right">
            <button class="img-btn"><img th:src="@{/icons/user.svg}" title="Profil" alt="profile"></button>
            <a th:href="@{/logout}"  ><img class="img-btn" th:src="@{/icons/log-out.svg}" title="Log out" alt="log-out"></a>
        </div>
    </nav>
</header>


<nav th:fragment="sideBar" id="nav-sidebar" open="false">
    <h2 class="menu-title">Menü</h2>

    <div class="menu-items">
        <div class="menu-item">
            <button class="button-link"><a th:href="@{/inventory}">Inventar</a></button>
        </div>
        <div class="menu-item">
            <button class="button-link"><a th:href="@{/units}">Abteilungen</a></button>
        </div>
        <div class="menu-item">
            <button class="button-link"><a th:href="@{/groups}">Gruppen</a></button>
        </div>
        <div class="menu-item">
            <button class="button-link"><a th:href="@{/subjects}">Fächer</a></button>
        </div>
        <div class="menu-item">
            <button class="button-link"><a th:href="@{/users}">Lehrer</a></button>
        </div>
        <div class="menu-item">
            <button class="button-link"><a th:href="@{/positions}">Orte</a></button>
        </div>
    </div>
    <div class="menu-logout">
        <button class="button-link"><a th:href="@{/logout}">Ausloggen</a></button>
    </div>
</nav>

<div th:fragment="table-control-header" class="container-inventory-form">
    <button class="img-btn" id="openFilterDialogButton"><img th:src="@{/icons/filter.svg}" title="Filter" alt="filter"></button>
    <button class="img-btn" id="openEquipmentDialogButton"><img th:src="@{/icons/plus-circle.svg}"
                                                                title="Hinzufügen" alt="add">
    </button>
    <div class="right">
        <button alt="Export" title="Exportieren als CSV" class="button-link"><a th:href="${Path} + '/export'">Exportieren</a></button>
    </div>
</div>

<script th:fragment="table-script" th:inline="javascript">
    var tableItems = [[${TableItems}]];
    const newTableItemId = [[${newTableItemId}]]
</script>


</body>
</html>