 <!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/login.css}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inventarverwaltung</title>
</head>

<body>
    <header>
        <h2>Inventarübersicht</h2>
    </header>

    <main>
        <form th:action="@{/login}" method="post">
            <div class="container-login-card">
                <div class="login-card-top">
                    <label class="login-header">Login</label>
                    <img class="logo" th:src="@{/icons/LogoTransparent.png}">
                </div>
                <label class="error" th:if="${param.error}">
                    Falsche eingabe!</label>
                <label class="error" th:if="${param.logout}">
                    Sie wurden ausgeloggt!</label>
                <label class="error" th:if="${expired}">
                    Sitzung abgelaufen!</label> <!-- TODO: Shit is not shown (because session logout does not send arg) -->
                <div class="login-card-input">
                    <label>Benutzername</label>
                    <input name="username" maxlength="40" type="text">
                </div>
                <div class="login-card-input">
                    <label>Passwort</label>
                    <input name="password" maxlength="40" type="password">
                    <a  class="login-password-reset" th:href="@{/requestPasswordReset}">Passwort vergessen?</a>
                </div>
                <button type="submit" value="Log in" class="login-submit">Anmelden</button>
            </div>
        </form>
    </main>
    
</body>

<script type="text/javascript" th:src="@{/js/Dialogs/NotificationDialog.js}"></script>

</html> 