 <!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/login.css}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inventarverwaltung</title>
</head>

<body>
    <header>
        <h2>Inventarübersicht</h2>
    </header>

    <main>
        <form th:action="@{/setInitialPassword}" method="post">
            <div class="container-login-card">
                <div class="login-card-top">
                    <label class="login-header">Ersetzen sie ihr scheiß initial Passwort!</label>
                    
                    <img class="logo" th:src="@{/icons/LogoTransparent.png}">
                </div>
                <label class="error" th:if="${errorLength}">
                    Passwort zu kurz!</label>
                <label class="error" th:if="${errorPwDifferent}">
                    Eingaben unterscheiden sich!</label>
                <label th:text="'Mindestens ' +  ${minLength} +  ' Zeichen'"></label>
                <div class="login-card-input">
                    <label>Passwort</label>
                    <input name="pw" maxlength="40" type="password">
                </div>
                <div class="login-card-input">
                    <label>Passwort</label>
                    <input name="pwCheck" maxlength="40" type="password">
                </div>
                <button type="submit" value="Log in" class="login-submit">Passwort setzen</button>
            </div>
        </form>
    </main>
    
</body>

</html> 